@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    background-color: rgb(40, 40, 40);
}

.sidebar .logo {
    padding: 30px;
    margin: 5px;
    color: aliceblue;
    text-align: center;
}

.menu div {
    padding: 15px;
}

.menu a {
    padding: 10px;
}

.sidebar a {
    text-decoration: none;
    color: aliceblue;
}

.menu a:hover {
    background-color: rgb(198, 198, 198);
    color: black;
}

.my-profile {
    float: right;
    width: 80%;
    height: 100%;
    display: flex;
    margin-top: 20px;
}

.box .name,
.box .email,
.box .btn {
    padding: 15px;
}